name: Linting Checks
on:
  - pull_request

jobs:
  lint:
    name: Linting Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          cache: "pip"
          cache-dependency-path: "*requirements*.txt"

      - name: Install modules
        run: pip install -r torch.requirements.txt -r development.requirements.txt -r requirements.txt

      - name: Run mypy (typing check)
        run: python -m mypy

      - name: Run isort (import sort check)
        run: python -m isort --check-only .

      - name: Run YAPF (formatting check)
        uses: AlexanderMelde/yapf-action@v1.0
        with:
          args: --verbose
