name: Linting Checks

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Linting Checks
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cs24-1/cs24-1-bot-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run mypy (typing check)
        run: python -m mypy

      - name: Run isort (import sort check)
        run: python -m isort --check-only .

      - name: Run YAPF (formatting check)
        run: python -m yapf --diff --recursive .
