name: Testing Checks

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Testing Checks
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cs24-1/cs24-1-bot-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests with coverage
        run: pytest --cov --cov-report=xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov/
