name: Testing Checks
on:
  - pull_request

jobs:
  setup-python:
    name: Setup Python Environment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: "*requirements*.txt"
      - name: Install modules
        run: pip install -r torch.requirements.txt -r development.requirements.txt -r requirements.txt

  testing-check:
    name: Run all tests with pytest
    runs-on: ubuntu-latest
    needs: setup-python
    steps:
      - name: Run tests with coverage
        run: pytest --cov --cov-report=xml

      - name: Upload coverage to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov/
